<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>College Fest Management</title>
  <link rel="stylesheet" href="/styles/index_style.css"> 
</head>
<body>
  <header>
    <img src="/images/aarohan_logo.png" alt="College Fest Management Logo"> 
    <h1>Welcome to College Fest Management</h1>
  </header>
  
  <main>
    <section class="login-section">
      <h2>Sign In</h2>
      <div class="user-type">
        <a href="/organizer_login"><button class="organizer-btn">Organizing Team</button></a>
        
        <a href="/login"><button class="participant-btn">Participant</button></a>
      </div>
      <p>Don't have an account? <a href="/signup">Sign Up</a></p> 
    </section>
  </main>

  <footer>
    
  </footer>
</body>
</html>
