
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  /* background-color: #f4f4f4; */
  color: #333;
  margin: 0;
  padding: 20px;
  background-image: url('/images/aarohan-background.jpg');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}

/* Header styles */
h1,
h2,
h3 {
  margin-bottom: 10px;
}

h1 {
  font-size: 24px;
  color: white;

}

h2 {
  font-size: 20px;
  color: white;

}

h3 {
  font-size: 18px;
  color:#007bff;
  
}
.event-list {
  display: flex;
  flex-wrap: wrap;
}
.event-box {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8); 
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}


.event-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.event-box h2 {
  color: #007bff;
  margin-bottom: 10px;
}

.register-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.register-btn:hover {
  background-color: #0056b3;
}

.registered-event-list {
  display: flex;
  flex-wrap: wrap;
}

.registered-event-box {
  flex: 0 0 calc(33.33% - 20px);
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s ease-in-out;
}


.registered-event-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.registered-event-box h2 {
  color: #007bff;
  margin-bottom: 10px;
}


.logout-form {
  position: fixed; 
  top: 20px; 
  right: 20px;
  z-index: 999; 
  display: flex;
  align-items: center; 
}

.logout-form button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-form button:hover {
  background-color: #c82333;
}
ul {
  padding: 10px;
}

li {
  margin-bottom: 5px;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
  .event-box {
    padding: 15px;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }
}


