* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f8f9fa;
  color: #333;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 36px;
  color: #333;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

.signup-options {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.signup-options label {
  margin-right: 20px;
  font-size: 20px;
  color: #555;
  cursor: pointer;
  transition: color 0.3s ease;
}

.signup-options label:hover {
  color: #007bff;
}

.signup-form {
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signup-form h2 {
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

button[type="submit"] {
  width: 100%;
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
/* Style for the gender dropdown */
#gender {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  appearance: none; 
  -webkit-appearance: none; 
  -moz-appearance: none; 
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 20"><path fill="%23333" d="M15 0l15 20H0z"/></svg>'); /* Custom arrow icon */
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
  background-size: 16px;
  cursor: pointer;
}

/* Style for the gender dropdown options */
#gender option {
  background-color: #fff;
  color: #333;
}
#participantType{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  appearance: none; /* Remove default arrow icon */
  -webkit-appearance: none; /* Remove default arrow icon for webkit browsers */
  -moz-appearance: none; /* Remove default arrow icon for firefox */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 20"><path fill="%23333" d="M15 0l15 20H0z"/></svg>'); /* Custom arrow icon */
  background-repeat: no-repeat;
  background-position: calc(100% - 12px) center;
  background-size: 16px;
  cursor: pointer;
}
